@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --mainText: #22343d;
  --mainTextHover: #02897a;
  --colorPrimary: #000;
  --colorSecondary: #000;
  --mainTextColor: #22343d;
  --mainBg: #1f2e35;
  --backgroundPrimary: #fff;
  --backgroundSecondary: #000;
  --btnBg: #02897a;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1240px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
